/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    box-sizing: border-box;
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Main Container */

body {
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: #ddd;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 900px;
	padding: 16px;
	gap: 10px;
	background-color: white;
	border-radius: 15px;
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

/* Header */

.weather-temperature {
	display: flex;
	position: relative;
	flex-direction: column;
	height: 30%;
	width: 100%;
	align-items: center;
	justify-content: end;
}

.weather-temperature img {
	position: absolute;
	bottom: 125px;
	width: 9rem;
}

.weather-temperature h1 {
	font-size: 6rem;
}

.weather-temperature h3 {
	font-size: 2rem;
}

.forecast-temperature-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.forecast-temperature-container h1 {
	height: 120px;
	letter-spacing: 1px;
	font-weight: 800;
}

.forecast-temperature-container p {
	align-self: flex-start;
	position: relative;
	margin-top: 20px;
	font-size: 1.5rem;
	font-weight: 300;
	color: #2a2a2a;
}

#forecast-condition {
	font-weight: 700;
}

/* Location */

.weather-location {
	display: flex;
	flex-direction: column;
	height: 3%;
	width: 100%;
	align-items: center;
	justify-content: start;
}

#weather-location-text {
	font-weight: 600;
}

/* Daily forecast */

.info-selector {
	align-self: flex-start;
	margin-left: 20px;
	margin-bottom: 10px;
	align-items: center;
}

.info-selector ul {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	height: 30px;
}

.info-selector li {
	list-style-type: none;
	display: flex;
}

.daily-forecast {
	display: flex;
	flex-direction: column;
	height: 30%;
	width: 100%;
	align-items: center;
}

.daily-condition {
	font-size: 0.8rem;
}

.info-btns {
	appearance: none;
	margin: 0;
	border: 0;
	background-color: transparent;
	font-size: 1rem;
	color: #2a2a2a;
	font-weight: 300;
	cursor: pointer;
}

.selected-info {
	font-weight: 700;
}


/* Weekly (3 days) forecast */

.weekly-forecast {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	height: 30%;
	width: 100%;
	align-items: center;
	gap: 20px;
}

.weekly-forecast h3 {
	font-size: 1.2rem;
	font-weight: 600;
}

.weather-cards {
	display: flex;
	gap: 20px;
}

.weather-card {
	display: flex;
	flex-direction: column;
	padding: 16px;
	width: 140px;
	height: 200px;
	background-color: #e6e3e3;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
	text-align: center;
}

.weather-card img {
	width: 90px;
	height: 90px;
}

.weather-card-text {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.high-and-low {
	display: flex;
	gap: 5px;
	justify-content: center;
}

.day {
	font-size: 1.1rem;
	text-align: center;
}

.daily-forecast {
	font-size: 0.9rem;
}

.high {
	font-weight: 400;
	font-size: 1rem;
}

.low {
	font-weight: 400;
	font-size: 1rem;
}

/* Search modal */

#search {
	appearance: none;
	border: 0;
	background-color: transparent;
	font-weight: 600;
	font-size: 1rem;
	cursor: pointer;
	width: 180px;
	margin: 0 auto;
}

dialog {
	border: 2px solid black;
	border-radius: 16px;
	padding: 20px;
}

form {
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

form input {
	padding: 6px;
	font-size: 1.2rem;
}

form button {
	appearance: none;
	padding: 4px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 600;
	background-color: transparent;
	border: 1px solid orange;
	border-radius: 20px;
	cursor: pointer;
}

::backdrop {
	background-color: #2a2a2a7a;
}

/* Credits */

#credits-btn {
	appearance: none;
	border: 0;
	background-color: transparent;
	font-weight: 600;
	font-size: 0.8rem;
	cursor: pointer;
}

/* Animations */

.transparent {
	opacity: 0;
}

.visible {
	opacity: 1;
}

.animated {
	transition-duration: 300ms;
	transition-property: opacity;
	transition-timing-function: ease-in-out;
}

a {
	text-decoration: none;
	font-weight: 600;
	color: black;
}

a:hover {
	color: rgb(166, 69, 5);
}